^contentpage {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #D0E7D2; /* Light Green background color */
    color: #333; /* Dark Gray text color */
}

#app-icon {
    font-size: 30;
    margin-right: 15;
}

stacklayout label {
    font-size: 22;
}

#status-toggle {
    margin-top: 15;
    display: inline-block;
}

    #status-toggle input {
        display: none;
    }

#status-toggle-label {
    background-color: #aaa; /* Default color */
    border-radius: 20;
    cursor: pointer;
    display: block;
    height: 24;
    transition: background-color 0.3s;
    width: 50;
}

    /*#status-toggle-label:before {
        background-color: #fff;*/ /* Default color for the switch */
        /*border-radius: 50%;
        content: '';
        height: 20px;
        left: 2px;
        top: 2px;
        transition: transform 0.3s, background-color 0.3s;
        width: 20px;
    }

#status-toggle input:checked + #status-toggle-label {
    background-color: #79AC78;*/ /* Active state color */
/*}

    #status-toggle input:checked + #status-toggle-label:before {
        transform: translateX(26px);
        background-color: #4D7942;*/ /* Active state color for the switch */
    /*}*/

#current-request {
    padding: 15;
    margin: 15;
    border: 1 solid #618264; /* Dark Green border */
    border-radius: 8;
    background-color: #79AC78; /* Soft Green background */
    text-align: center;
}

#request-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: block;
}

    #request-list StackLayout {
        background-color: #D0E7D2; /* Light Green background for list items */
        margin: 7.5;
        padding: 12.8;
        border-radius: 8;
        cursor: pointer;
    }

        /*#request-list li:hover {
            background-color: #AACCAE;*/ /* Light Green background on hover */
        /*}

#selected-request {
    background-color: #AACCAE;*/ /* Light Green background for selected request */
/*}*/

#driver-status-message {
    text-align: center;
    padding: 15;
    margin-top: 15;
    border-radius: 8;
    background-color: #4D7942; /* Darker Green background for the notification */
    display: none;
    color: #fff; /* White text color */
    font-weight: bold;
}

#pick-request-btn {
    background-color: #618264; /* Dark Green background color */
    color: #fff; /* White text color */
    padding: 12.8;
    border: none;
    border-radius: 8;
    cursor: pointer;
    font-size: 15;
    transition: background-color 0.3s;
    display: inline-block;
    margin: 0 auto
}

/*#pick-request-btn:hover {
    background-color: #4D7942;*/ /* Darker Green background color on hover */
/*}*/

.dark-title {
    color: #333;
    font-size: 24;
    font-weight: bold;
}

#greeting {
    text-align: center;
    margin: 15;
}

#greeting-icon {
    font-size: 30;
    margin-right: 7.5;
    color: #4D7942
}

#greeting-message {
    display: inline-block;
    font-size: 19.2;
    font-weight: bold;
}
